.CollectionGrid {
}

.CollectionGrid__top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem 0;
}

.CollectionGrid__top__title {
    display: inline-block;
    margin: 0;
}

.CollectionGrid__top__menu_item {
    margin: 0 0.35em;
}

.CollectionGrid__top__menu_item:first-child {
    margin: 0 0.35em 0 0;
}

.CollectionGrid__top__menu_item:last-child {
    margin: 0 0 0 0.35em;
}

.CollectionGrid__top__menu_item:only-child {
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .CollectionGrid__top {
        flex-direction: column;
    }

    .CollectionGrid__top__title {
        margin-bottom: 0.5rem;
    }

}

.CollectionGrid__column_content {
    height: 100%;
}
