.Movie {
}

.Movie__info {
}

.Movie__info__picture-container {
}

.Movie__info__picture {
}

@media only screen and (max-width: 767px) {
    .Movie__info__picture {
        margin: 0 auto;
    }
}

.Movie__title {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
    .Movie__title {
        /* text-align: center; */
    }
}

.Movie__title__year {
    font-size: 0.8em;
    font-weight: 400;
    opacity: 0.6;
}

.Movie__actions {
    margin-bottom: 2rem;
}

.Movie__actions .Rating {
    font-size: 3em;
}

.Movie__actions__rating-container {
    font-size: 3em;
}

.Movie__overview {
}
