.Pagination {
  display: flex;
  justify-content: center;
  align-content: center;
}

.Pagination.Pagination--top-padded {
  padding-top: 2rem;
}

.Pagination.Pagination--bottom-padded {
  padding-bottom: 2rem;
}
