.PersonCard__name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.PersonCard__sub {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.2em;
}
