.PersonPage {
}

.PersonPage__info {
}

.PersonPage__info__picture-container {
}

.PersonPage__info__picture {
}

@media only screen and (max-width: 767px) {
    .PersonPage__info__picture {
        margin: 0 auto;
    }
}

.PersonPage__title {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
    .PersonPage__title {
        text-align: center;
    }
}

.PersonPage__biography {
}

.PersonPage__info__personal {
}
